$text-color:green;
$text-color-active:#c14d2a;
$bg-text-color: radial-gradient(circle, #fcfffc 0%, #001208 80%, #111e19 100%);
$bg-text-active: radial-gradient(circle, #ffffff 0%, #c7ceca 50%, #141414 100%);
$bg-header-color:linear-gradient(90deg,#000000 20%, #c7ceca 50%, #000000 80%);
